<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>世界你好</title>

    <link href="__PUBLIC__/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body{text-align: center;}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>新增数据</h1>
    <div class="container">
      <div class="row">
        <form action="" method="post">
          姓名：<input type="text" name="name" value=""><br>
          年龄：<input type="text" name="age" value=""><br>
          性别：<select name="sex">
            <option value="0" >未知</option>
            <option value="1" >男</option>
            <option value="2" >女</option>
          </select><br>
          班期：<input type="text" name="grade" value=""><br>
          <input type="submit" class="btn btn-success" value="提交"><br>
        </form>
      </div>
    </div>
    


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/dist/js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</html>