<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		body{
			background-image: url("__PUBLIC__/Shop/images/header-bg.jpg");
			padding: 20px;
			color: #eee;
		}
	</style>
</head>
<body>
	<div class="container ">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">
				<h2><img src="__PUBLIC__/Shop/images/logosm.png">商家平台</h2>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<img src="__PUBLIC__/Shop/images/header-promotion.png">
				<h4>把您餐厅开上享吃</h4>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8" style="text-align:center;">
				<br><br><br><br><br>
				<a href="<{:U('Register/ready')}>" class="btn btn-primary btn-lg">&nbsp;&nbsp;立即入驻&nbsp;&nbsp;</a>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</body>
</html>