<extend name='Index/index'/>

<block name='main'>
    <!--main content start-->
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        
                    </ul>
                    <!--breadcrumbs end -->
                    <h1 class="h1">加盟商家审核</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">审核信息</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down">缩进页面</i>
                                <i class="fa fa-times">关闭页面</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">审核标准</h3>
                                        <div class="actions pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p>Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque, ut nulla libero ante laboriosam elit in, orci nec vitae viverra amet tempor, ut vivamus nec nec tristique. Vitae in suscipit, aliquam turpis, quis risus tortor, sit in ultricies urna sed leo. Non eu imperdiet vitae placerat, donec magna, metus integer imperdiet purus, sed eu. In vehicula fusce est neque, justo nam leo nascetur consectetuer a, nec dolor sit ut quam, in suspendisse ridiculus vitae</p>
                                    </div>
                                    <div class="panel-footer">Panel footer</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-solid-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">商家资料</h3>
                                        <div class="actions pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p>fdfdfdfdfd</p>
                                    </div>
                                    <div class="panel-footer">Panel footer</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-solid-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">店铺信息</h3>
                                        <div class="actions pull-right">
                                            <i class="fa fa-chevron-down"></i>
                                            <i class="fa fa-times"></i>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        Elit vitae, ridiculus nonummy, vestibulum vivamus cras scelerisque velit magna tincidunt. Torquent amet accumsan, eu maecenas morbi dui eu suspendisse, neque diam accumsan cras nisl ac ridiculus, erat neque. Wisi enim ullamcorper, dolor eleifend pellentesque,
                                    </div>
                                    <div class="panel-footer">Panel footer</div>
                                </div>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-md-6">
                                 <button type="button" class="btn btn-success">Success</button>
                            </div>
                             <div class="col-md-6">
                                 <button type="button" class="btn btn-danger">danger</button>
                             </div>
                                
                        </div>


                    </div>
                </div>
            </div>

        </section>
    </section>
    <!--main content end-->
</block>
       
<block name='js'>
    <!--Global JS-->
    <script src="__PUBLIC__/Assets/js/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Assets/plugins/waypoints/waypoints.min.js"></script>
    <script src="__PUBLIC__/Assets/plugins/nanoScroller/jquery.nanoscroller.min.js"></script>
    <script src="__PUBLIC__/Assets/js/application.js"></script>
    <!--Page Leve JS -->
    <script src="__PUBLIC__/Assets/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="__PUBLIC__/Assets/plugins/dataTables/js/dataTables.bootstrap.js"></script>
    <script>
    $(document).ready(function() {
        $('#example').dataTable();
    });
    </script>
</block>
