<extend name='Index/index'/>
<block name="main">
<!--main content start-->
<section class="main-content-wrapper">
<section id="main-content">
<div class="row">
	<div class="col-md-12">
		<!--breadcrumbs start -->
		<ul class="breadcrumb">
			<li><a href="#">后台首页</a>
			</li>
			<li>权限控制</li>
			<li class="active">用户角色</li>
		</ul>
		<!--breadcrumbs end -->
		
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<h1 class="h1">用户角色</h1>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">.</h3>
							<div class="actions pull-right">
								<i class="fa fa-chevron-down"></i>
								<i class="fa fa-times"></i>
							</div>
						</div>
						<div class="panel-body">
							<form role="form">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label>
									<input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control" value=>
								</div>
								<div class="form-group">
									<select class="form-control">
										<option>1</option>
										<option>1</option>
										<option>1</option>
									</select>
								</div>
								
								<button class="btn btn-primary" type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>
</section>
</section>
<!--main content end-->
</block>